[
    EntityBlueprint(id: "blueprint.player", label: "Player", is_player: true, blocks_movement: false, pools: [(Health, 20, 0, 20), (ActionPoints, 3, 0, 3), (Supplies, 10, 0, 50), (Temperance, 0, 0, 100), (Justice, 0, 0, 100), (Prudence, 0, 0, 100), (Fortitude, 0, 0, 100), (Thumos, 0, 0, 100), (Metis, 0, 0, 100), (Kleos, 0, 0, 100)], statuses: [], visual: Some("Player")),
    EntityBlueprint(id: "blueprint.rat", label: "Rat", is_player: false, blocks_movement: true, pools: [(Health, 5, 0, 5), (ActionPoints, 2, 0, 2)], statuses: [], visual: Some("Enemy")),
    EntityBlueprint(id: "blueprint.healing_potion", label: "Healing Potion", is_player: false, blocks_movement: false, pools: [], statuses: [], visual: Some("Item")),
]
